# Ignore everything
*

# Include LICENSE and README.md
!LICENSE
!README.md

# Include the receipt cropper module
!src/reciept_cropper_module.py

# Include all verification images
!verification images/
!verification images/*

